<app-header></app-header>
<app-preloader></app-preloader>
<section id="home"><app-home></app-home></section>
<section id="about"><app-about></app-about></section>
<section id="stats"><app-stats></app-stats></section>
<section id="clients"><app-clients></app-clients></section>
<section id="services"><app-services></app-services></section>
<section id="portfolio"><app-portfolio></app-portfolio></section>
<section id="team"><app-team></app-team></section>
<section id="faq"><app-faq></app-faq></section>
<section id="contact"><app-contact></app-contact></section>
<app-scroll-top></app-scroll-top>
<app-footer></app-footer>
<router-outlet />
