<header class="header">
  <nav class="nav">
    <a routerLink="/" class="logo">MaxNovaLabs</a>
    <ul class="nav-links">
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li class="dropdown">
        <button aria-haspopup="true" aria-expanded="false">More</button>
        <ul class="dropdown-menu">
          <li><a routerLink="/portfolio">Portfolio</a></li>
          <li><a routerLink="/team">Team</a></li>
        </ul>
      </li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
