<section id="faq" class="section-container" data-aos="fade-up">
  <div class="container">
    <!-- FAQ Section Header -->
    <app-section-title
      titlePartOne="Frequently "
      titlePartTwo="Asked Questions"
      subtitle="Find answers to some of the most commonly asked questions. If you have more questions, feel free to reach out to us."
      alignment="center"
    ></app-section-title>

    <!-- Dynamic FAQ Accordion -->
    <app-faq-accordion [faqs]="faqItems"></app-faq-accordion>
  </div>
</section>
