.footer-newsletter {
  padding: 2rem 1rem;
  text-align: center;

  h2 {
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  p {
    margin-bottom: 1rem;
  }

  .newsletter-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    input {
      padding: 0.5rem 1rem;
      width: 350px;
      max-width: 100%;
      border: 1px solid #ddd;
      border-radius: 0.5rem 0 0 0.5rem;
      outline: none;

      &:focus {
        border-color: #ff5722;
        box-shadow: 0 0 0 2px rgba(255, 87, 34, 0.2);
      }
    }

    button {
      border-radius: 0 0.5rem 0.5rem 0;
      background-color: #ff5722;
      font-weight: 900;
      border: none;
      color: #fff;
      padding: 0.5rem 1rem;
      margin-left: -8px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f68765;
        color: #1f2937;
      }
    }
  }

  .message {
    margin-top: 1rem;
    font-weight: 500;
  
    &.success {
      color: #2e7d32;
    }
  
    &.error {
      color: #d32f2f;
    }
  }  

  @media (max-width: 600px) {
    .newsletter-form {
      flex-direction: column;
      align-items: center;

      input, button {
        width: 90%;
        border-radius: 0.5rem;
      }

      input {
        margin-bottom: 0.5rem;
      }
    }
  }
}
