.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--button-bg);
  text-align: center;
  color: var(--text-color);
}

app-testimonial-carousel,
app-client-logos-carousel {
  margin-top: 2rem;
}
