.clients-title {
  display: table;
  margin: 0 auto;
  padding: 0.1rem 0.3rem;
  border-radius: 0.5rem;
  background: var(--gradient-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--button-bg);
  text-align: center;
  color: var(--text-color);
}

app-testimonial-carousel,
app-client-logos-carousel {
  margin-top: 2rem;
}
