<section id="clients" class="section-container">
  <p class="section-page-title">CLIENTS</p>
  <app-section-title
    titlePartOne="Clients"
    titlePartTwo="Testimonials"
    alignment="center"
  ></app-section-title>
  <h2 class="section-title">What Our Clients Say</h2>
  <app-testimonial-carousel
    [testimonials]="testimonials"
  ></app-testimonial-carousel>

  <h2 class="section-title">Trusted By</h2>
  <app-client-logos-carousel [logos]="clientLogos"></app-client-logos-carousel>
</section>
