<section id="hero" class="hero section-container">
  <!-- Video Background -->
  <div class="hero-video-background">
    <iframe
      src="https://www.youtube.com/embed/Y7f98aduVJ8?autoplay=1&mute=1&loop=1&controls=0&showinfo=0&playlist=Y7f98aduVJ8"
      frameborder="0"
      allow="autoplay; fullscreen"
      title="Video Background"
      class="video-background"
    ></iframe>
    <div class="hero-video-overlay"></div>
  </div>

  <!-- Hero Section Content -->
  <div class="hero-col" data-aos="zoom-out">
    <app-section-title
      title="Innovate with MaxNovaLabs"
      subtitle="We craft cutting-edge solutions in web development, AI for healthcare, mobile apps, and startup growth."
      alignment="left"
    ></app-section-title>

    <button class="btn-get-started glb-button">
      Get Started
    </button>
  </div>
</section>
