<section id="featured-services" class="featured-services section">
  <div class="container">
    <app-section-title
      title="Our Services"
      subtitle="We offer a range of services that cater to your business needs, from innovative AI solutions to cloud infrastructure management."
      alignment="center"
    ></app-section-title>

    <div class="services-grid">
      <div
        class="service-item"
        *ngFor="let service of services; let i = index"
        [attr.data-aos]="'fade-up'"
        [attr.data-aos-delay]="(i + 1) * 100"
      >
        <div class="icon">
          <i [class]="'bi ' + service.icon"></i>
        </div>
        <h4><a href="#" class="stretched-link">{{ service.title }}</a></h4>
        <p>{{ service.description }}</p>
      </div>
    </div>
  </div>
</section>
