.section-header {
  margin-bottom: 2rem;
  text-align: center;

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 1.6;
  }

  p {
    color: #666;
    font-size: 1rem;
    line-height: 2;
  }
}
