<section id="team" class="section-container light-background">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <app-section-title
        titlePartOne="Our"
        titlePartTwo="Team"
        subtitle="We are a team of innovators focused on revolutionizing industries through cutting-edge solutions."
        alignment="center"
      ></app-section-title>
    </div>

    <div class="team-grid">
      <div
        class="team-member"
        *ngFor="let member of team; let i = index"
        [attr.data-aos]="'fade-up'"
        [attr.data-aos-delay]="(i + 1) * 100"
      >
        <div class="member-img">
          <img [src]="member.image" [alt]="member.name" />
          <div class="social">
            <a *ngFor="let link of member.social" [href]="link.url"
              ><i [class]="link.icon"></i
            ></a>
          </div>
        </div>
        <div class="member-info">
          <h4>{{ member.name }}</h4>
          <span>{{ member.role }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
