<section id="featured-services" class="section-container">
  <div class="container">
    <app-section-title
      titlePartOne="Our"
      titlePartTwo="Services"
      subtitle="We offer a range of services that cater to your business needs, from innovative AI solutions to cloud infrastructure management."
      alignment="center"
    ></app-section-title>

    <div class="services-grid">
      <div
        class="service-item"
        *ngFor="let service of services; let i = index"
        [attr.data-aos]="'fade-up'"
        [attr.data-aos-delay]="(i + 1) * 100"
      >
        <button
          type="button"
          class="stretched-link"
          [attr.aria-label]="'View more about ' + service.title"
        >
          {{ service.title }}
        </button>

        <div class="icon">
          <i [class]="service.icon"></i>
        </div>

        <p>{{ service.description }}</p>
      </div>
    </div>
  </div>
</section>
