<div class="main-nav">
  <nav class="nav" aria-label="Main navigation">
    <app-header-logo></app-header-logo>
    <ul class="nav-links">
      <li>
        <a
          routerLink="/"
          fragment="home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/about" fragment="about" routerLinkActive="active"
          >About</a
        >
      </li>
      <li>
        <a routerLink="/services" fragment="services" routerLinkActive="active"
          >Services</a
        >
      </li>
      <li>
        <a
          routerLink="/portfolio"
          fragment="portfolio"
          routerLinkActive="active"
          >Portfolio</a
        >
      </li>
      <li>
        <a routerLink="/team" fragment="team" routerLinkActive="active">Team</a>
      </li>
      <li class="dropdown">
        <button aria-haspopup="true" aria-expanded="false">Industries</button>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="/health" fragment="health" routerLinkActive="active"
              >Health</a
            >
          </li>
          <li>
            <a
              routerLink="/blockchain"
              fragment="blockchain"
              routerLinkActive="active"
              >BlockChain</a
            >
          </li>
          <li>
            <a
              routerLink="/e-commerce"
              fragment="e-commerce"
              routerLinkActive="active"
              >E-Commerce</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/contact" fragment="contact" routerLinkActive="active"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</div>
